<footer class="bg-gray-800 text-white py-6 mt-12">
  <div class="max-w-5xl mx-auto text-center text-sm">
    <p>© <span id="year"> </span> website is managed by Troop 309 of the Greater Concil of New York <br>
        BSA® is a registered trademark of the Boy Scouts of America <strong>Prepared For Life ™</strong></p>
    <p>Chartering Organization  <img title="St Marks" alt="stmarks" class="justify-content-center" width="25px"
        src="/assets/stmarks.svg" /> <a href="https://stmarkschurchbrooklyn.org/">St Marks Brooklyn Church</a></p>

  </div>
  <script>
  document.getElementById("year").textContent = new Date().getFullYear();</script>
</footer>

