    
    <meta charset="UTF-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
    <!-- ADD icon -->
    <link rel="icon" type="image/svg" id="icon" href="./assets/BSA_logo.svg">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap" rel="stylesheet">
    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- CSS StyleSheet -->
    <link rel="stylesheet" href="./css/styles.css" /> 